/*BODYYYYYYYYYYYYYYY*/


body  {
    background-image: url("background.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
    font-family: verdana;
    
}

h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    
}
a{
    color: white;
    text-align: center;
    font-family: verdana;
}


.window{
    background-image: url("background2.jpg");
    background-color: rgba(73, 157, 134, 0.07); /* use rgba for fine adjustments */
    background-blend-mode: color;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
    
    border-radius: 25px;
    padding: 20px; 
    width: 95%;
    height: 35%;
    margin: auto;
}

/*
.window{
    background-image: url("background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
    filter: blur(15px);
}
*/


/*
#grad1 {
    position: relative;    
    width: auto;    height: 240;

    background-image: url("images/thumbs/аааааа.PNG");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    
  
} 
 
#boox1{
    background-image: url("images/thumbs/рпа.PNG");
    background-attachment: fixed;
    background-size: cover;    
    margin: auto;
    width: 50%; height: 50%;
    padding: 10px;  
}
TEXT*/

.fullwidth-video {
    
    top: 0px;
    left: 100%;
    
    width: 100%;
    height: 100%;
    
    min-width: 25%;
    min-height: 100%;
    
    animation: fade-in 15s ease-in-out;
}
/*BODYYYYYYYYYYYYYYY*/


body  {
    background-image: url("background.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
    font-family: verdana;
    
}

h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    
}
a{
    color: white;
    text-align: center;
    font-family: verdana;
}


.window{
    background-image: url("background2.jpg");
    background-color: rgba(73, 157, 134, 0.07); /* use rgba for fine adjustments */
    background-blend-mode: color;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
    
    border-radius: 25px;
    padding: 20px; 
    width: 95%;
    height: 35%;
    margin: auto;
}

/*
.window{
    background-image: url("background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
    background-repeat: no-repeat;
    filter: blur(15px);
}
*/


/*
#grad1 {
    position: relative;    
    width: auto;    height: 240;

    background-image: url("images/thumbs/аааааа.PNG");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    
  
} 
 
#boox1{
    background-image: url("images/thumbs/рпа.PNG");
    background-attachment: fixed;
    background-size: cover;    
    margin: auto;
    width: 50%; height: 50%;
    padding: 10px;  
}
TEXT*/

.fullwidth-video {
    
    top: 0px;
    left: 100%;
    
    width: 100%;
    height: 100%;
    
    min-width: 25%;
    min-height: 100%;
    
    animation: fade-in 15s ease-in-out;
}
