body{
    background-color: black;
}

.Window{
    position: center;
    background-color: rgb(22, 23, 24);
    
    border-radius: 10px;
    padding: 25px; 
    
    width: fit-content;
    height: fit-content;

    margin: auto;
    margin-bottom: 12px;
}

.Swindow{
    position: center;
    
    width: 525px;
    height: fit-content;

    margin: auto;
    margin-bottom: 12px;
    
}


/*TEXT__*/
#log_text{
    color: white;
    text-align: left;
    font-family: verdana;        
}

h1 {
    color: white;
    text-align: center;
    font-family: verdana;    
}
h2{
    color: white;
    text-align: center;
    font-family: verdana;    
}
h3{
    color: white;
    text-align: center;
    font-family: verdana;    
}

input {
    display: table-cell;
    margin-bottom: 1x;
}
label {
    color: white;
    padding-right: 10px;
}
