body{
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: verdana;    
}
h2{
    color: white;
    text-align: center;
    font-family: verdana;    
}
h3{
    color: white;
    text-align: center;
    font-family: verdana;    
}

input {
    display: table-cell;
    margin-bottom: 1x;
}
label {
    color: white;
    padding-right: 10px;
}

.Window{
    position: center;
    background-color: rgb(22, 23, 24);
    
    border-radius: 10px;
    padding: 25px; 
    
    width: fit-content;
    height: fit-content;

    margin: auto;
    margin-bottom: 12px;
}
.Window2{
    display: inline-block;
    background-color: rgb(22, 23, 24);
    
    border-radius: 10px;
    padding: 25px; 
    
    width: fit-content;
    height: fit-content;

    margin: 12px;
    margin-bottom: 12px;
    
}
.Swindow{
    position: center;
    
    width: 65%;
    height: fit-content;

    margin: auto;
    margin-bottom: 12px;
    
}
.SameLineWindow{
    display: inline-block;

    background-color: rgb(22, 23, 24);
    
    border-radius: 10px;
    padding: 25px; 
    
    width: fit-content;
    height: fit-content;

    margin: 12px;
    margin-bottom: 12px;
    
}
.Kostyli{
    position:center;
    margin: auto;
    margin-bottom: 12px;
    width: fit-content;
    height: fit-content;
}
.Video_Bar{
    background-color: brown;
    width: 480px;
    height: 240px;

}